@{
    ViewBag.Title = "Home Page";
}
<div>
    <img src="~/Images/logo.png" alt="taxi Logo" height="25%" width="25%">
</div>
<div class="main-image">
    <img src="~/Images/Taxi_home.jpg" alt="texi image" height="50%" width="100%" style="opacity: 0.4;"/>
</div>
<div class="image-text" style="position: absolute; top: 50%; right: 30%;">
    <h1>
        <strong>FAST & SAFE SERVICE</strong>
    </h1>
    <h3>
        WE PICK UP AND DROP YOU ON TIME BY BEST TRAFFIC
    </h3>
    <div style="text-align:center;">
        <button type="button" class="btn btn-primary btn-lg">Book now</button>
    </div>
</div>
<div style="padding-bottom: 35px;"></div>
    <h2 style="text-align: center">WHAT WE DO</h2>
    <div style="padding-bottom: 35px;"></div>
<div class="row">
    <div class="col-md-6">
        <img src="~/Images/bestroutejpg.jpg" alt="best route" height="40%" width="93%"/>
        <p></p>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/Images/rental.jpg" alt="rental" height="40%" width="100%" />
        <p></p>
        <p></p>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
 </div>
<div style="padding: 20px;"></div>
<footer>
    <section class="container-fluid section-space section-bg-2" id="services">
        <div class="container">
            <h2 class="center h2-bottom" style="text-align: center;">OUR AWESOME SERVICES</h2>
            <div style="padding: 20px;"></div>
            <div class="row">
                <!--=============== COLUMN-1 ==================-->
                <div class="col-md-3 col-sm-6 col-xs-6 services-res-bottom common-full-1">
                    <div class="services-bg">
                        <div class="center image-bottom">
                            <img src="images/64x64x1.png" alt="image">
                        </div>
                        <h4 class="center h4-bottom"><a href="#">fast booking</a></h4>
                        <p class="center">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia </p>
                    </div>
                </div>

                <!--=============== COLUMN-2 ==================-->
                <div class="col-md-3 col-sm-6 col-xs-6 services-res-bottom common-full-1">
                    <div class="services-bg">
                        <div class="center image-bottom">
                            <img src="images/64x64x2.png" alt="image">
                        </div>
                        <h4 class="center h4-bottom"><a href="#">best tariff</a></h4>
                        <p class="center">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia </p>
                    </div>
                </div>

                <!--=============== COLUMN-3 ==================-->
                <div class="col-md-3 col-sm-6 col-xs-6 common-full-1 services-res-bottom-1">
                    <div class="services-bg">
                        <div class="center image-bottom">
                            <img src="images/64x64x3.png" alt="image">
                        </div>
                        <h4 class="center h4-bottom"><a href="#">fast &amp; safe </a></h4>
                        <p class="center">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia </p>
                    </div>
                </div>

                <!--=============== COLUMN-4 ==================-->
                <div class="col-md-3 col-sm-6 col-xs-6 common-full-1">
                    <div class="services-bg">
                        <div class="center image-bottom">
                            <img src="images/64x64x4.png" alt="image">
                        </div>
                        <h4 class="center h4-bottom"><a href="#">live support</a></h4>
                        <p class="center">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>